.A{
    font-size: 35px;
    font-weight: 600;
    color: blanchedalmond;
    text-align: left;
    font-family: "sellenaBrush";
    background-color: rgb(100, 79, 8);
 }


 .iam{
    font-size: 35px;
    font-weight: 600;
    color: blanchedalmond;
    text-align: left;
 }

 .B{
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
    color: #921A40;
    text-align: center;
 }

 

 .D{
    text-align: right;
 }

 .IM{
    text-align: right;
 }


 .G{
    text-align: right;
 }


 

 