/* jensi class */
@font-face {
  font-family: "sellenaBrush";
  src: url(./font/SellenaBrush-x3JyK.ttf);
}

/* nidhi class */
@font-face {
  font-family: "coffeeHealingltalic";
  src: url(./font/CoffeeHealingItalic-RpP6o.ttf);
}

.jensi {
  font-size: 35px;
  font-weight: 600;
  color: brown;
  text-align: center;
  font-family: "sellenaBrush";
}

.nidhi {
  font-size: 35px;
  font-weight: 600;
  color: rgb(178, 127, 255);
  font-family: "coffeeHealingltalic";
  text-indent: 400px;
}

/* icon class */
.IAM {
  font-size: 400px;
  color: brown;
  background-color: aquamarine;
}
