@media only screen and (max-width:1024px){

    .bt {
        
        height: 35px;
        width: 150px;
        font-size: 30px;
       
    }

    .img1{
        height: 250px;
        width: 250px;
    }


    .div1 {
        height: 300px;
        width: 300px;
    }


    


    
}