@media only screen and (max-width:1024px){
    

    .brandName {
        font-size: 30px;
        padding: 32px;
    }

    .headerMenu {
        gap: 20px;
        padding: 35px;
    
    }

    .menuItem a{
        font-size: 20px;
    }

    .baner {
       
        background-size: contain;
        height: 50vh;
        width: 100%;
        background-size: cover;
        
    }

    .heading1 {
        font-size: 40px;
        padding:50px 0 10px 110px;
    }

    .heading2 {
    
        font-size: 40px;
        padding: 0 0 0 105px;
    }
    .pre {
        font-size: 15px;
        padding: 20px 50% 0 105px;
    
    }

    .iconBox1 {
        height: 30px;
        width: 30px;
        position: absolute;
        left: 40%;
        bottom: 30%;
    }
    .iconBox2 {
        height: 30px;
        width: 30px;
        position: absolute;
        left: 43.5%;
        bottom: 30%;
    }

    .iconLeft {
        font-size: 20px;
        padding: 5px;
    }
    .iconRight {
        font-size: 20px;
        padding: 5px;
    }

    .LearnMoreBTN {
        height: 30px;
        width: 90px;
        position: absolute;
        left: 10%;
        bottom: 30%;
        font-size: 15px;
    }

    .headsec1 {
        font-size: 25px;
    }

    .img1 {
        height: 300px;
        width: 300px;
        padding-top: 50px;
    
    }

    

    .per {
        font-size: 15px;
        padding-left: 50px;
    }

    .BtnReedMore {
        height: 40px;
        width: 100px;
        position: absolute;
        left: 20%;
        bottom: 45%;
        font-size: 15px;
    }

    .Sec1MainDiv {
        height: 350px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;

    }
    .sec1div1 {
        height: 300px;
        width: 500px;
    }
    .sec1div2{
        height: 300px;
        width: 500px;
    }
    
    .Sec2Pre {
        
        font-size: 20px;
        
       
    }
    

    .box1 {
        height: 200px;
        width: 300px;
        margin-top: 50px;
    }
    .icon1 {
        height: 30px;
        width: 40px;
        padding-left: 130px;
        padding-top: 20px;
        
    }

    .head1Box1 {
        font-size: 20px;
        padding-top: 10px;
    }

    .boxb {
        
        height: 40px;
        width: 90px;
        font-size: 15px;
    }

    .box2{
        height: 200px;
        width: 300px;
        margin-top: 50px;
    }
    .icon2{
        height: 30px;
        width: 40px;
        padding-left: 130px;
        padding-top: 20px;
        
    }

    .box3{
        height: 200px;
        width: 300px;
        margin-top: 50px;
    }
    .icon3{
        height: 30px;
        width: 40px;
        padding-left: 130px;
        padding-top: 20px;
        
    }
    .head2Box2 {
        font-size: 20px;
        padding-top: 10px;
    }
    .head3Box3 {
        font-size: 20px;
        padding-top: 10px;
    }

    .Sec3MainDiv {
        height: 550px;
        width: 100%;
    }
    .mail {
        height: 40px;
        width: 400px;
        font-size: 20px;
    }
    .name{
        height: 40px;
        width: 400px;
        font-size: 20px;
    }
    .phno{
        height: 40px;
        width: 400px;
        font-size: 20px;
    }
    .msg{
        height: 40px;
        width: 400px;
        font-size: 20px;
    }
    .Sec4MainDiv2 {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }

    .mainDiv {
        height: 300px;
        width: 100%;
    }

    .SeeMoreBtn {
        font-size: 15px;
        margin-bottom: 45px;
    }

    .header {

        width: 100%;
    
    }
    

    
}

