.container{
    height: 800px;
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 40px;
}
.box1{
    height: 300px;
    width: 300px;
    background-color: plum;
    position: absolute;
    top: 20px;
    left: 50px;
}

.img{
    height:300px;
    width: 300px;
    overflow: clip;
    position: absolute;
    top: 60px;
    left: 100px;
}

.pre{
    text-align: right;
    padding: 100px 700px 50px 700px;
}

