/* universal property start */

*{
    padding: 0;
    margin: 0;
}

/* universal property end */




/* baner start */
.banerImg{
    background: url(./image/banerimg.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}

/* header start */

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding-top: 50px;
}

.headerName{
    color: #FCCD2A;
    align-items: center; 
}

.headerName:hover{
    color: white;
    cursor: pointer;
}

.headerMenu{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none; 
    color: #FCCD2A; 
    align-items: center; 
   
}
.MenuItem a:hover{
    color: white;
    cursor: pointer;
}

.MenuItem a{
    text-decoration: none;
    color: #FCCD2A;
    text-transform: uppercase;
    font-size: 25px;  
    align-items: center;  
}

.box{
    height: 50px;
    width: 250px;
    background-color: #FCCD2A;
    border-radius: 100px;    
}
.box:hover{
    background-color: white;
    cursor: pointer;
    border: 2px solid #FCCD2A ;
}

.boxtext{
    font-size: 20px;
    position: absolute;
    right: 13%;
    bottom: 12%;
    color: white;
}

.boxtext:hover{
    color: #FCCD2A;
    cursor: pointer;
}

.adminicon{
    color: #FCCD2A;
    font-size: 25px;
    position: absolute;
    right: 27%;
    top: 60%;
}

.adminicon:hover{
    color: white;
    cursor: pointer;
}

.carticon{
    color: #FCCD2A;
    font-size: 25px;
    position: absolute;
    top: 60%;
    right: 30%;
}
.carticon:hover{
    color: white;
    cursor: pointer;
}

.serchicon{
    color: #FCCD2A;
    font-size: 25px;
    position: absolute;
    top: 60%;
    right: 33%;
}
.serchicon:hover{
    color: white;
    cursor: pointer;
}

/* header end */

.heading{
   color: #FCCD2A;
   font-size: 50px;
   padding: 50px 0 20px 113px;  
}

.banerdetail{
    color: white;
    font-size: 20px;
    padding: 0 900px 30px 113px;
}

.OrderNowBtn{
    height: 50px;
    width: 200px;
    border-radius: 100px;
    position: absolute;
    left: 5.5%;
    top: 50%;
    background-color: #FCCD2A;
    font-size: 20px;
}
.OrderNowBtn:hover{
    background-color: white;
    border: 2px solid #FCCD2A;
}

.btnA{
    color: white;
    text-decoration: none;
}

.btnA:hover{
    color: #FCCD2A;
  
}

/* baner end */


/* section 1 start */
.Menu{
    height: 80px;
    max-width: 100% ;
    background-color: silver;
}

.menuTitle{
    color: #FCCD2A;
    font-size: 45px;
    text-align: center;
    align-items: center;
    padding: 35px 0 0 0;
}
.menuTitle:hover{
    color:#2F3645;
    font-size: 48px;
}




.Sec2maindiv{
    height: 500px;
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.sec2div1{
    height: 300px;
    width: 40%;
    background-color: #2F3645;
    position: absolute;
    left: 5%;
    bottom: 20%;
}


.sec2div2{
    height: 300px;
    width: 40%;
    background-color: #2F3645 ;
    position: absolute;
    bottom: 20%;
    right: 5%;
}

.img1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px solid #FCCD2A;
    position: absolute;
    top: 15%;
    left: 5%;
    transition: 1s linear;
}
.img1:hover{
    border: 5px solid white;
    transform: scale(1.2);
}

.img2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px solid #FCCD2A;
    position: absolute;
    top: 15%;
    left: 5%;
}
.img2:hover{
    border: 5px solid white;
}

.text{
    position: absolute;
    right: 5%;
    top: 30%;
    font-size: 40px;
    color: #FCCD2A;
}

.text1{
    position: absolute;
    right: 20%;
    bottom: 30%;
    font-size: 40px;
    color: #FCCD2A;
}

.text:hover{
    color: white;
    font-size: 45px;
}

.text1:hover{
    color: white;
    font-size: 45px;
}

.text2{
    position: absolute;
    right: 15%;
    top: 30%;
    font-size: 40px;
    color: #FCCD2A;
}
.text3{
    position: absolute;
    right: 20%;
    bottom: 30%;
    font-size: 40px;
    color: #FCCD2A;
}
.text2:hover{
    color: white;
    font-size: 45px;
}
.text3:hover{
    color: white;
    font-size: 45px;
}

.viewAllBtn{
    height: 50px;
    width: 200px;
    border-radius: 100px;
    position: absolute;
    left: 45%;
    bottom: 5%;
    background-color: #FCCD2A;
    font-size: 20px;
}

.viewAllBtn:hover{
    background-color: white;
    border: 2px solid #FCCD2A;
}

.viewallA{
    color: white;
    text-decoration: none;
}

.viewallA:hover{
    color: #FCCD2A;
}

/* section 1 end */


/* section 2 start */
.sec3Title{
    height: 100px;
    max-width: 100%;
    background-color: silver;
}

.titleText{
    text-align: center;
    color: #FCCD2A;
    align-items: center;
    padding: 50px 0 50px 0;
    font-size: 50px;
}

.titleText:hover{
    color:#2F3645;
}

.Menubackground{
    height: 100px;
    max-width: 100%;
    background-color: silver;

}

.Itemlist{
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    padding-top: 50px;
}

.ListItem a{
    font-size: 30px;
    color: #2F3645;
    text-decoration: none;
}

.ListItem a:hover{
    color: #FCCD2A;
    background-color: #2F3645;
    height: 80px;
    width: 80px;
    border-radius: 90px;
}

.menuImg{
    height: 400px;
    width: 100%;
    background-color: silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    padding-top: 50px;
}

.box1{
    height: 300px;
    width: 400px;
    background-color: white;
    position: relative;
}
.box2{
    height: 300px;
    width: 400px;
    background-color: white;
    position: relative;
}
.box3{
    height: 300px;
    width: 400px;
    background-color: white;
    position: relative;
}
.p1{
    height: 300px;
    width: 300px;
    align-items: center;
    position: absolute;
    left: 11%;
    top: 5%;
}
.p2{
    height: 250px;
    width: 250px;
    align-items: center;
    position: absolute;
    right: 18%;
    top: 5%;
}
.p3{
    height: 250px;
    width: 250px;
    align-items: center;
    position: absolute;
    right: 18%;
    top: 10%;
}
.box4{
    height: 300px;
    width: 400px;
    background-color: white;
    position: relative;
}

.box5{
    height: 300px;
    width: 400px;
    background-color: white;
    position: relative;
}

.box6{
    height: 300px;
    width: 400px;
    background-color: white;
    position: relative;
}

.menuContain{
    height: 400px;
    width: 100%;
    background-color: silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.p4{
    height: 300px;
    width: 300px;
    align-items: center;
    position: absolute;
    left: 11%;
    top: 5%;
}
.p5{
    height: 300px;
    width: 300px;
    align-items: center;
    position: absolute;
    left: 11%;
    top: 5%;
}
.p6{
    height: 300px;
    width: 300px;
    align-items: center;
    position: absolute;
    left: 11%;
    top: 5%;
}
.ViewMoreButton{
    height: 50px;
    width: 200px;
    border-radius: 100px;
    position: absolute;
    left: 45%;
    bottom: 5%;
    background-color: #FCCD2A;
    font-size: 20px;
}
.MoreButtonA{
    color: white;
    text-decoration: none;
}

/* section 2 end */




/* section 3 start */


.container{
    height: 130px;
    width: 100%;
    background-color: silver;
    text-align: center;
    font-size: 30px;
    padding-top: 40px;
    color: #222831;
}




.menuMainDiv{
    height: 500px;
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: space-evenly

}
.row1{
    height: 500px;
    background-color: #222831;
    border-radius: 20px;
    

}

.div1Imge1{
    height: 250px;
    width: 350px;
    background-color: white;
    border-radius: 0 0 0 40px;
}

.image1{
    height: 200px;
    width: 200px;
    padding: 30px 30px 20px 75px;
}

.div1Detail1{
    height: 300px;
    width: 350px;
    color: aliceblue;
    padding: 25px;
    box-sizing: border-box;
}

.row2{
    height: 500px;
    background: linear-gradient(to bottom, #f1f2f3 10px, #222831 10px);
    border-radius: 20px;
}
.div2Imge2{
    height: 250px;
    width: 350px;
    background-color: white;
    border-radius: 0 0 0 40px;
}
.image2{
    height: 200px;
    width: 200px;
    padding: 25px 25px 25px 75px;
}
.div2Detail2{
    height: 300px;
    width: 350px;
    color: #f1f2f3;
    padding: 25px;
    box-sizing: border-box;
   
}
.option{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.row3{
    height: 500px;
    width: 350px;
    background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);
    border-radius: 20px;
}
.div3Imge3{
    height: 250px;
    width: 350px;
    background-color: white;
    border-radius: 0 0 0 40px;

}

.image3{
    height: 200px;
    width: 200px;
    padding: 25px 25px 25px 70px ;

}

.div3Detail3{
    height: 300px;
    width: 350px;
    color: #f1f2f3;
    padding: 25px;
    box-sizing: border-box;
}

.container1{
    height: 500px;
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: space-evenly;
}
.row4{
    height: 500px;
    width: 350px;
    background-color: #222831;
    border-radius: 20px;
}

.imgback{
    height: 250px;
    width: 350px;
    background-color: #f1f2f3;
    border-radius: 0 0 0 40px;
}
.image4{
    height: 200px;
    width: 280px;
    padding: 25px 25px 25px 30px ;

}

.preback{
    color: #f1f2f3;
    padding: 25px;
}

.container2{
    height: 500px;
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: space-evenly;
}

.container3{
    background-color: silver;
    height: 250px;
    width: 100%;
    position: relative;
}

.btnViewMore{
    height: 50px;
    width: 200px;
    border-radius: 100px;
    position: absolute;
    right: 45%;
    bottom: 60%;
    background-color: #FCCD2A;
    font-size: 20px;
    color: #f1f2f3;
    
    
}


/* section 3 end */


/* section 4 start */
.DivMain{
    height: 800px;
    width: 100%;
    background-color: #2F3645;
    display: flex;
    justify-content: space-around;
    position: relative;
}


.bigimg{
    height: 600px;
    width: 450px;
    padding: 100px 50px 80px 400px;
    
}

.sec4Title{
    padding: 200px 0 50px 100px;
    font-size: 45px;
    color: #f1f2f3;
}

.sec4pre{
    font-size: 25px;
    padding: 0px 300px 50px 100px;
    color: #f1f2f3;
}

.btnReadMore{
    height: 50px;
    width: 200px;
    border-radius: 100px;
    position: absolute;
    right: 37%;
    bottom: 30%;
    background-color: #FCCD2A;
    font-size: 20px;
    color: #f1f2f3;

}
/* section 4 end */




.contain{
    background-color: silver;
    height: 700px;
    width: 100%;
}

.title{
    font-size: 40px;
}

.containDiv1{
    height: 100px;
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.maindiv{
    height: 600px;
    width: 80%;
    background-color: #f1f2f3;
    margin: auto;
}

.name{
    height: 30px;
    width: 450px;
    text-align: center;
    font-size: 20px;
   
}















